---
import clsx from "classnames";
import { Icon } from "astro-icon/components";
import { projects } from "@utils/constants";
---

<section id="projects">
  <h3 class="text-4xl font-bold my-4">Side Projects</h3>
  {
    projects.map((project) => (
      <div
        class={clsx(
          "relative w-full p-8 my-4 rounded-xl flex flex-col items-center transition-colors bg-base-200 bg-opacity-50 hover:bg-opacity-100 sm:flex-row",
          { "border-4 border-primary": project.active }
        )}
      >
        {project.active && (
          <div class="absolute right-2 top-2 font-bold">
            <Icon
              class="text-primary inline"
              name="flowbite:check-circle-outline"
              size={24}
            />
            <span>Active</span>
          </div>
        )}
        <div class="flex-1 flex flex-col">
          <h3 class="font-bold text-lg">{project.title}</h3>
          <p class="my-4">{project.description}</p>
          <div class="w-full md:w-3/4">
            {project.techs.map((tech) => (
              <span class="m-0.5 badge badge-primary font-bold text-white h-auto">
                {tech}
              </span>
            ))}
          </div>
        </div>
        <div class="mt-8 sm:mt-0">
          {project.demo && (
            <a
              class="btn btn-ghost group"
              href={project.demo}
              title="Link"
              target="_blank"
            >
              <Icon
                class="group-hover:text-white font-bold"
                name="flowbite:arrow-up-right-from-square-outline"
                size={24}
              />
            </a>
          )}
          <a
            class="btn btn-ghost group"
            href={project.link}
            title="Source code"
            target="_blank"
          >
            <Icon
              class="group-hover:text-white font-bold"
              name="flowbite:file-zip-outline"
              size={24}
            />
          </a>
        </div>
      </div>
    ))
  }
</section>
